@scale-factor-width: 0.9;
@scale-factor-height: 1.15;

@banner-scale-factor-width: 0.95;
@banner-scale-factor-height: 1;

body {
    // background: green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    user-select: none;
}

.npe {
    pointer-events: none;
}

h1 {
    color: rgb(225, 225, 225);
    font-size: 30px;
}

h2,
h3 {
    color: rgb(150, 150, 150);
    font-size: 18px;
}

h1,
h2 {
    margin: 0px 15px 0px 15px;
}

h1,
h2,
h3 {
    font-family: crock;
    font-weight: 400;
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 4px;
}

.separator-cnt {
    width: 100%;
    height: 24px;
    display: flex;
}

.separator-down,
.separator-up,
.separator-arrow,
.separator-arrow-up,
.separator-divider-up,
.separator-divider-down {
    opacity: 0.5;
}

.separator-arrow,
.separator-arrow-up {
    width: 24px;
    height: 24px;
    background-image: url('../../src/img/scroller_arrow_bottom.png');
    background-size: 24px 24px;
    background-position-x: center;
    background-position-y: center;
}

.separator-arrow-up {
    background-image: url('../../src/img/scroller_arrow_top.png');
}

.separator-down,
.separator-up {
    width: 100%;
    height: 24px;
    background-image: url('../../src/img/scroller_line_down.png');
    background-size: 24px 24px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: repeat-x;
}

.separator-up {
    background-image: url('../../src/img/scroller_line_up.png');
}

.separator-divider-down {
    width: 100%;
    height: 24px;
    background-image: url('../../src/img/scroller_line_down.png');
    background-size: 100% 24px;
}

.separator-divider-up {
    width: 100%;
    height: 24px;
    background-image: url('../../src/img/scroller_line_up.png');
    background-size: 100% 24px;
}

.ico {
    width: 28px;
    height: 28px;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    filter: invert(0.35);
}

.weight-ico {
    background-image: url('../../src/img/itemtype_loot.png');
}

.dollar-ico {
    background-image: url('../../src/img/itemtype_cash.png');
}

.arrow-left,
.arrow-right {
    width: 18px;
    height: 18px;
    filter: invert(0.5);
}

.arrow-left {
    background-image: url('../../src/img/selection_arrow_left.png');
}

.arrow-right {
    background-image: url('../../src/img/selection_arrow_right.png');
}

.menu {
    width: calc(560px * @scale-factor-width);
    height: calc(864px * @scale-factor-height);
    background-image: url("../../src/img/inkroller_1a.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    margin-left: 15px;

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        // background: rgba(86, 18, 18, 0.75);
        background: rgba(255, 255, 255, 0.25);
    }

    ::-webkit-scrollbar-thumb:hover {
        // background: rgba(86, 18, 18, 1);
        background: rgba(255, 255, 255, 0.4);
    }
}

.content {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
}

.top-container {
    width: 100%;
    height: 100%;
}

.btn-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: row dense;
    gap: 2px;
    padding-top: 5px;
}

[disabled] {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;

    * {
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn,
.store-btn,
.select-btn,
.textbox-btn,
.vector2-btn,
.vector3-btn,
.redirect-btn,
.checkbox-btn,
.slider-btn {
    width: 100%;
    height: 48px;
    background-image: url('../../src/img/selection_box_bg_1d.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.1s all ease-in-out;
    margin-bottom: 2px;
    filter: invert(0);
}

.menu-btn {
    width: 100%;
    height: 48px;
    background-image: url('../../src/img/selection_box_bg_1d.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s all ease-in-out;
    color: rgb(225, 225, 225);
    font-family: crock;
    font-size: 20px;
    font-weight: 400;
}

.menu-btn:hover {
    filter: invert(0.85);
}

.btn:hover,
.store-btn:hover,
.select-btn:hover,
.textbox-btn:hover,
.vector2-btn:hover,
.vector3-btn:hover,
.redirect-btn:hover,
.checkbox-btn:hover,
.slider-btn:hover {
    .btn-text {
        color: rgb(255, 255, 255);
    }

    .store-btn-text {
        color: rgb(255, 255, 255);
    }

    .crafting-highlight {
        opacity: 1;
    }
}

.btn:hover {
    .crafting-highlight {
        opacity: 1;
    }
}

.btn-text {
    white-space: nowrap;
}

.checkbox-btn {
    justify-content: space-between;

    .checkbox-cnt {
        cursor: pointer;
        display: block;

        input {
            // position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 22px;
            width: 22px;
        }

        .checkmark {
            position: absolute;
            // top: 0;
            // left: 0;
            width: 22px;
            height: 22px;
            border-radius: 3px;
            background: rgb(25, 25, 25);
            -webkit-appearance: none;
            pointer-events: none;
        }

        // .checkmark:hover {
        //     background: rgb(10, 10, 10)
        // }

        .checkmark:checked {
            background-image: url('../img/checked.png');
            background-size: 18px;
            background-position: center;
            background-repeat: no-repeat;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    .checkbox-cnt:hover input~.checkmark {
        content: "";
        background-color: rgb(10, 10, 10)
    }

    .checkbox-cnt input:checked~.checkmark {
        background-image: url('../../src/img/tick.png');
        background-position-x: center;
        background-position-y: center;
        background-size: 80% 80%;
        background-repeat: no-repeat;
    }

    .checkbox-cnt input:checked~.checkmark:after {
        display: block;
    }
}

.slider-btn {
    justify-content: space-between;

    .btn-text {
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .slider-cnt {
        display: grid;
        grid-template-columns: 24px 1fr 24px;
        grid-template-rows: 18px;
        gap: 15px;
        margin-right: 15px;

        .btn-text {
            text-align: center;
            color: rgb(255, 255, 255);
            margin-top: -2px;
        }

        .ico:hover {
            filter: invert(0.1);
        }
    }
}

.redirect-btn {
    justify-content: space-between;
}

.redirect-btn:hover {
    .ico {
        filter: invert(0.1);
    }
}

.textbox-btn {
    justify-content: space-between;
}

.stats-store-info {
    width: 100%;
    display: grid;
    gap: 5px;
}

.stats-cnt {
    width: 100%;
    height: 28px;
    background: transparent;
    display: flex;

    .stats {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            text-overflow: ellipsis;
            overflow: hidden;
            color: rgb(225, 225, 225);
            font-family: hapnadb;
            font-size: 16px;
            font-weight: 600;
        }

        .stats-bg-5,
        .stats-bg-4 {
            width: 250px; //250
            height: 10px;
            background-image: url('../../src/img/stats_5.png');
            background-size: 100% 10px;
            background-repeat: no-repeat;
            opacity: 0.25;
        }

        .stats-fill-5,
        .stats-fill-4 {
            width: 0px;
            height: 10px;
            background-image: url('../../src/img/stats_5.png');
            background-size: 250px 10px;
            background-repeat: no-repeat;
            position: absolute;
            transition: .35s all ease-in-out;
        }

        .stats-bg-4 {
            background-image: url('../../src/img/stats_4.png');
        }

        .stats-fill-4 {
            background-image: url('../../src/img/stats_4.png');
        }
    }
}

input[type=range] {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
}

.label-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .label-cnt {
        display: flex;
        justify-content: center;
        align-items: center;

        .ico {
            filter: invert(0);
        }

        .btn-text {
            font-size: 24px;
            margin-left: 5px;
            color: rgb(225, 225, 225);
        }
    }
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background: transparent;
    background-image: url('../../src/img/counter_bg_1b.png');
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    margin-top: -5px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.1s all ease-in-out;
}

// input[type=range]:focus::-webkit-slider-runnable-track {
//     // background: rgba(255, 255, 255, 0.3);
// }

input[type=range]:hover::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.3);
}

input[type=range]:focus {
    outline: none;
}

input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-family: hapnadb;
    border-radius: 3px;
    background: rgb(25, 25, 25);
    color: rgb(225, 225, 225);
    text-align: center;
    outline: none;
    margin-right: 15px;
}

input[type=text]::selection {
    background: rgba(206, 202, 202, 0.15);
}

input[type=text]::placeholder {
    color: rgb(100, 100, 100);
}

.select-btn {
    display: flex;
    justify-content: space-between;

    .select-cnt {
        display: grid;
        grid-template-columns: 24px 150px 24px;
        grid-template-rows: 18px;
        gap: 0px;
        margin-right: 15px;

        .btn-text {
            text-align: center;
            color: rgb(255, 255, 255);
            margin-top: -2px;
        }

        .ico:hover {
            filter: invert(0.1);
        }
    }
}

.store-btn {
    justify-content: space-between;

    .store-btn-text {
        font-family: crock;
        font-size: 24px;
        color: rgb(150, 150, 150);
        transition: 0.1s all ease-in-out;
    }
}

.crafting-highlight {
    width: 100%;
    height: 100%;
    background-image: url('../../src/img/crafting_highlight-2.png');
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    opacity: 0;
    position: absolute;
    transition: 0.1s all ease-in-out;
    pointer-events: none;
}

.td-linetr {
    text-decoration: line-through;
}

.td-under {
    text-decoration: underline;
}

.btn-text,
.label-separator-text {
    color: rgb(150, 150, 150);
    font-family: hapnadb;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 15px;
    transition: 0.1s all ease-in-out;
}

.label-separator-text {
    font-size: 22px;
    text-align: center;
    padding: 14px 0px;
    margin-left: 10px;
}

.label-separator-cnt {
    // position: absolute;
    width: 100%;
    background-image: url(../../src/img/selection_box_bg_1d_02.png);
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 100%;
    height: 79%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 82%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
}

.banner-cnt {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.banner {
    width: calc(432px * @banner-scale-factor-width);
    height: calc(108px * @banner-scale-factor-height);
    background-image: url('../../src/img/menu_header_1a.png');
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: rgb(225, 225, 225);
    font-family: crock;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}

.btn-menu-img {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-right: 12px;
}