@font-face {
    font-family: crock;
    src: url('../fonts/crock.ttf');
}

@font-face {
    font-family: headliner;
    src: url('../fonts/headliner.ttf');
}

@font-face {
    font-family: wbb;
    src: url('../fonts/western_bang_bang.otf') format('truetype');
}